* {
    margin: 0;
    padding: 0;
    font-family: 'Ria', sans-serif;
}

@font-face {
    font-family: 'Ria';
    src: url('./fonts/RiaSans-Regular.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Ria';
    src: url('./fonts/RiaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Ria';
    src: url('./fonts/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

header {
    width: 100%;
    height: 162px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .header_bg {
        width: 100%;
        height: 60px;
        background-image: linear-gradient(90deg, #E94D90, #7845C9);
        opacity: 0.7;

    }

    .header_top {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 1400px;
        height: 100px;
    }

    .header_menu {
        margin-left: auto;
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 17px;
            color: #3E3A39;
            margin: 50px 0;
            gap: 8px;
        }
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 0;
    }

    p {
        width: 100%;
        color: #fff;
        font-size: 19px;
        text-align: center;
        line-height: 60px;
    }

    .burger {
        width: 40px;
        height: 4px;
        background: #737171;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        bottom: 0;

    }

    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: #737171;
    }

    .burger::before {
        top: -10px;
        border-radius: 10px;
    }

    .burger::after {
        bottom: -10px;
        border-radius: 10px;
    }
}

/*-----------------------------header------------------------------------------------------------------------------------------------------------*/

main {
    width: 100%;
}



.main_bg {
    background: url(./image/main_bg.png);
    width: 100%;
    height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;


    h1 {
        font-weight: 500;
        font-size: 55px;
        color: #fff;
        text-align: center;
        padding-bottom: 150px;
        position: relative;
        text-shadow: 4px 4px 4px #00000073;
    }

    h3 {
        font-weight: 500;
        font-size: 23px;
        color: #fff;
        text-align: center;
        position: relative;
        top: -80px;
        text-shadow: 4px 4px 4px #00000073;
    }
}

.inner {
    width: 1100px;
    margin: 0 auto;

    h2 {
        background: url(./image/underlinered.png) no-repeat left bottom;
        padding-bottom: 5px;
    }

    .why {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 50px;
        margin-top: 100px;
        margin-bottom: 150px;

    }

    .why_top {
        h2 {
            font-weight: 500;
            background: url(./image/underlinebig.png) no-repeat left bottom;
            padding-bottom: 5px;
        }
    }

    .why_box {
        width: 460px;
        height: 160px;
        background-color: #fff5f6;
        border-radius: 30px;
        box-sizing: border-box;

        h3 {
            font-weight: bold;
            font-size: 19px;
            color: #D55D5D;
            margin-bottom: 20px;
            margin-left: 50px;
            margin-top: 19px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            color: #000;
            margin-left: 83px;
        }
    }

    .why_box:nth-child(2) {
        margin-top: 50px;
    }

    .why_box:nth-child(4) {
        margin-top: 50px;
    }


    .text {
        width: 100%;
        text-align: left;
        margin-bottom: 110px;

        p {
            font-size: 30px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 26px;
            margin-left: 100px;
            font-weight: 500;

            span {
                color: #5AB0B9;
            }
        }
    }

    .mate {
        margin-bottom: 150px;
    }

    .mate_box {
        display: flex;
        flex-direction: column;

        p {
            font-size: 26px;
        }

    }

    .mate_top,
    .mate_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mate_top {
        justify-content: center;
        gap: 135px;

        span {
            color: #FF9393;
            font-weight: bold;
        }

        text-shadow: 0 4px 7px #0003;
    }

    .mate_bottom {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 105px;

        span {
            color: #6779D4;
            font-weight: bold;
        }

        text-shadow: 0 4px 7px #0003;
    }


    .standard {
        width: 100%;
        margin-bottom: 150px;

        .text {
            font-size: 26px;
        }

        .text span {
            color: #000;
            background: url(./image/underlineyellow.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

        .standard_card img:nth-child(2) {
            margin-top: 50px;
            margin-left: 100px;
        }

        .standard_card img:nth-child(3) {
            margin-top: 50px;
            margin-left: 200px;
        }
    }


    .safety {
        .text {
            margin-bottom: 60px;
        }

        .text span {
            background: url(./image/underlineblue.png) no-repeat left bottom;
            padding-bottom: 5px;
            color: #000;
        }
    }
}

//end:.inner



.safety_bg {
    width: 100%;
    height: 700px;
    background: #FFF0F0;
    margin-bottom: 150px;
}

.inner {
    .safety_text {
        display: flex;
        margin-bottom: 60px;
        padding-top: 40px;
        align-items: center;
        font-size: 25px;
        gap: 10px;

        span {
            color: #486EA7;
        }

    }

    .safety_image {
        display: flex;
    }


    .process {
        .text span {
            color: #000;
            background: url(./image/underlinepink.png) no-repeat left bottom;
            padding-bottom: 5px;
        }
    }

    h3 {
        font-size: 27px;
        font-weight: 500;
    }

    .process_step1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 100px;

        .step_text1 {
            flex: 1;
            text-align: left;

            h3 {
                margin-left: 100px;
            }

            img {
                margin-left: 150px;
                margin-top: 10px;
            }

            p {
                font-size: 19px;
                margin-left: 215px;
                transform: translateY(-45px);

                span {
                    color: #ED7575;
                    background: none;
                }
            }

        }

        span {
            background: url(./image/underlinesky.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

        .step_img1 {
            flex: 1;
            display: flex;
            gap: 50px;
            justify-content: flex-end;
        }

    }//e:process_step1

    

    .process_step2 {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;

        .step_text2 {
            text-align: left;

            h3 {
                margin-left: 100px;
            }

            img {
                margin-left: 150px;
                margin-top: 10px;
            }

            p {
                font-size: 19px;
                transform: translateY(-45px);
                margin-left: 220px;

                span {
                    color: #A594F1;
                    background: none;
                }
            }

        }
        .step_img2{
            position: relative;
            top: 100px;
            
        }
        .step_img2 img:nth-child(1){position: absolute; transform: translate(-400px, 120px);}
        .step_img2 img:nth-child(2){position: absolute; transform: translate(-200px, 120px);}
        .step_img2 img:nth-child(3){position: absolute; transform: translate(10px, -10px);}







        span {
            background: url(./image/underlinepurple.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

    }

    
}//end:.inner