* {
    margin: 0;
    padding: 0;
    font-family: 'Ria', sans-serif;
    


}

@font-face {
    font-family: 'Ria';
    src: url('./fonts/RiaSans-Regular.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Ria';
    src: url('./fonts/RiaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Ria';
    src: url('./fonts/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

header {
    width: 100%;
    height: 162px;
    display: flex;
    align-items: center;
    flex-direction: column;


    .header_bg {
        width: 100%;
        height: 60px;
        background-image: linear-gradient(90deg, #DF7779, #914BE2);
        opacity: 0.7;

    }

    .header_top {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 1400px;
        height: 100px;
    }

    .header_menu {
        margin-left: auto;
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 17px;
            color: #3E3A39;
            margin: 50px 0;
            gap: 8px;
            transform: skewx(1deg);
        }
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 0;
    }

    p {
        width: 100%;
        color: #fff;
        font-size: 19px;
        text-align: center;
        line-height: 60px;
        transform: skewx(1deg);
    }

    .burger {
        width: 40px;
        height: 4px;
        background: #737171;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        bottom: 0;

    }

    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: #737171;
    }

    .burger::before {
        top: -10px;
        border-radius: 10px;
    }

    .burger::after {
        bottom: -10px;
        border-radius: 10px;
    }
}

/*-----------------------------header------------------------------------------------------------------------------------------------------------*/
main {
    width: 100%;
}



.main_bg {
    width: 100%;
    height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
    .bg-video{
        width: 100%;
        position: absolute;
        height: 650px;
        object-fit: cover;
    }


    h1 {
        font-weight: 500;
        font-size: 55px;
        color: #fff;
        text-align: center;
        padding-bottom: 150px;
        position: relative;
        text-shadow: 1px 1px 1px #00000073;
        top: 200px;

    }

    h3 {
        font-weight: 500;
        font-size: 23px;
        color: #fff;
        text-align: center;
        position: relative;
        top: -80px;
        text-shadow: 1px 1px 1px #00000073;
        top: 110px;

    }
}

.inner {
    max-width: 1100px;
    margin: 0 auto;

    h2 {
        background: url(./image/underlinered.png) no-repeat left bottom;
        padding-bottom: 5px;
    }

    .why {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 50px;
        margin-top: 100px;
        margin-bottom: 150px;
        position: relative;
        overflow: hidden;
        background-color: #fff;

    }

    .why::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 0;
        background: radial-gradient(circle,
                rgba(255, 192, 203, 0.15) 0%,
                rgba(255, 255, 255, 0) 50%);
        pointer-events: none;
    }

    .why_box {
        position: relative;
        z-index: 1;
    }


    .why_top {
        h2 {
            font-weight: 500;
            background: url(./image/underlinebig.png) no-repeat left bottom;
            padding-bottom: 5px;
        }
    }

    .why_box {
        width: 460px;

        border-radius: 30px;
        box-sizing: border-box;


        h3 {
            font-weight: bold;
            font-size: 22px;
            color: #413A3B;
            margin-bottom: 40px;
            margin-left: 50px;
            margin-top: 19px;
            transform: skewx(1deg);
            display: flex;
            align-items: flex-start;
            gap: 15px;

        }

        p {
            font-weight: 500;
            font-size: 15px;
            color: #413C3C;
            margin-left: 83px;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            margin-top: 10px;
            padding-left: 45px;


            transform: skewx(1deg);
        }
    }

    .why_box:nth-child(2) {
        margin-top: 50px;
    }

    .why_box:nth-child(4) {
        margin-top: 50px;
    }


    .text {
        width: 100%;
        text-align: left;
        margin-bottom: 110px;

        p {
            font-size: 30px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 26px;
            margin-left: 100px;
            font-weight: 500;

            span {
                color: #5AB0B9;
            }
        }
    }

    .highlight {
        display: inline-block;

    }


    /*-------------------------------------------mate-------------------------------------------------------------*/
    .mate {
        margin-bottom: 150px;
    }

    .mate_box {
        display: flex;
        flex-direction: column;

        p {
            font-size: 26px;
        }

    }

    .mate_top,
    .mate_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        width: 100%;

    }

    .mate_top {
        justify-content: center;
        gap: 135px;
        position: relative;
        z-index: 0;
        background: radial-gradient(circle,
                rgba(255, 192, 203, 0.15) 0%,
                rgba(255, 255, 255, 0) 50%);


        span {
            color: #FD5757;
            font-weight: bold;
        }
    }

    .mate_top img {
        transition: all .3s;
    }

    .mate_top .image {
        overflow: hidden;
        transition: all .3s;
    }

    .mate_top img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }


    .mate_bottom {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 105px;
        position: relative;
        z-index: 0;
        background: radial-gradient(circle,
                rgba(71, 69, 179, 0.15) 0%,
                rgba(255, 255, 255, 0) 50%);


        span {
            color: #6779D4;
            font-weight: bold;
        }


    }

    .mate_bottom img {
        transition: all .3s;
    }

    .mate_bottom .image {
        overflow: hidden;
        transition: all .3s;
    }

    .mate_bottom img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }






    /*--------------------------------standard------------------------------------------------------------------------------------------------------------*/
    .standard {
        width: 100%;
        margin-bottom: 150px;

        .text {
            font-size: 26px;
        }

        .text span {
            color: #000;
            background: url(./image/underlineyellow.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

        .standard_card img:nth-child(2) {
            margin-top: 50px;
            margin-left: 100px;
        }

        .standard_card img:nth-child(3) {
            margin-top: 50px;
            margin-left: 200px;
        }
    }



}

//end:.inner

.safety_bg {
    width: 100%;
    height: 800px;
    background: #FFF0F0;

}

.inner {
    max-width: 1100px;

    .safety {
        .text {
            margin-bottom: 50px;
            padding-top: 20px;
        }

        .text span {
            background: url(./image/underlineblue.png) no-repeat left bottom;
            padding-bottom: 5px;
            color: #000;
        }
    }

    .safety_text {
        display: flex;
        margin-bottom: 60px;
        padding-top: 40px;
        align-items: center;
        font-size: 25px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;


        span {
            color: #486EA7;
        }

    }

    .safety_text p {
        margin: 0;
        /* p태그 특유의 여백 제거 */
        display: flex;
        /* p 내부의 로고와 글자도 정렬 */
        align-items: center;
    }

    .safety_text p img {
        vertical-align: middle;
        /* 텍스트랑 로고 높이 맞추기 */
        margin-right: 5px;
        /* 로고와 글자 사이 미세 간격 */
    }

    .safety_image {
        display: flex;

    }

    /*----------------------------------------------process-----------------------------------------------------------------------------------*/
    .process {
        margin-top: 150px;
        height: 1400px;

        .text span {
            color: #000;
            background: url(./image/underlinepink.png) no-repeat left bottom;
            padding-bottom: 5px;
        }
    }

    h3 {
        font-size: 27px;
        font-weight: 500;
    }

    .process_step1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 100px;

        .step_text1 {
            flex: 1;
            text-align: left;
            position: relative;

            h3 {
                margin-left: 50px;
            }

            p {
                font-size: 19px;
                margin-left: 165px;
                transform: translateY(-45px);
                transform: skewx(1deg);

                span {
                    color: #ED7575;
                    background: none;
                }
            }

            svg {
                margin-left: 100px;
                margin-top: 10px;
            }

        }

        .arrow_head {
            position: absolute !important;
            top: 90px !important;
            /* 일단 확 티나게 10px로 줘봐 */
            left: 35px !important;
            /* 일단 확 티나게 10px로 줘봐 */
            width: 20px !important;
            height: auto !important;
            z-index: 999 !important;
            display: block !important;
            /* 혹시 안 보일까 봐 추가 */
        }

        span {
            background: url(./image/underlinesky.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

        .step_img1 {
            flex: 1;
            display: flex;
            gap: 50px;
            justify-content: flex-end;
        }

    }

    //e:process_step1

    .process_step2 {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
        

        .step_text2 {
            text-align: left;
            width: 800px;
            position: relative;

            h3 {
                margin-left: 50px;
            }

            img {
                margin-left: 100px;
                margin-top: 10px;
            }

            p {
                font-size: 19px;
                transform: translateY(-45px);
                margin-left: 170px;
                transform: skewx(1deg);

                span {
                    color: #A594F1;
                    background: none;
                }
            }

        }

        svg {
            margin-left: 100px;
            margin-top: 10px;
        }

        .arrow_head {
            position: absolute !important;
            top: 90px !important;
            /* 일단 확 티나게 10px로 줘봐 */
            left: 35px !important;
            /* 일단 확 티나게 10px로 줘봐 */
            width: 20px !important;
            height: auto !important;
            z-index: 999 !important;
            display: block !important;
            /* 혹시 안 보일까 봐 추가 */
        }


        .step_img2 {
            position: relative;
            top: 100px;
            width: 100%;

        }

        .step_img2 img {
            position: absolute;
            /* 모든 이미지를 공중에 띄움 */
            top: 0;
            left: 0;
        }

        .heart_svg {
    position: absolute;
    top: 140px;  /* 👈 카드 사이 적절한 높이로 조절 */
    left: -150px; /* 👈 카드 사이 가로 위치 조절 */
    width: 200px; /* 피그마에서 본 사이즈대로 */
    z-index: 5;
}
        .heart2_svg {
    position: absolute;
    top: 270px;  /* 👈 카드 사이 적절한 높이로 조절 */
    left: 110px; /* 👈 카드 사이 가로 위치 조절 */
    width: 200px; /* 피그마에서 본 사이즈대로 */
    z-index: 5;
}


        .step_img2 img:nth-child(1) {
            position: absolute;
            top: 150px; left: -230px;
        }

        .step_img2 img:nth-child(2) {
            position: absolute;
            top: 140px; left: -45px;
        }

        .step_img2 img:nth-child(3) {
            position: absolute;
            top: 5px; left: 160px;
        }

        .step_img2 img:nth-child(4) {
            position: absolute;
            top: 285px; left: 225px;
        }

        .step_img2 img:nth-child(5) {
            position: absolute;
            top: 75px; left: 405px;
        }

        span {
            background: url(./image/underlinepurple.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

    }

    //e:process_step2



    /*--------------------------------------------------------meet------------------------------------------------------------------------------------*/

    .meet {
        margin-bottom: 150px;

        .text span {
            color: #000;
            background: url(./image/underlinemeet.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

        .text {
            margin-bottom: 50px;
        }
    }

    .meet_box {
        width: 100%;
        max-width: 1100px;
        height: 600px;
        margin: 0 auto;
        background: url(./image/meetbox.png);
        background-size: contain;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        h2 {
            background: none;
            font-weight: 500;
            font-size: 20px;
            transform: skewx(1deg);
        }

        span {
            background: url(./image/underlinelife.png) no-repeat left bottom;
            padding-bottom: 5px;
        }

        .box_left {
            display: flex;
            flex: 1;
            justify-content: center;
        }

        .box_right {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .match_card {
                display: flex;
                gap: 80px;
            }

            p {
                color: #fff;
                background: #FF4D6D;
                padding: 20px 30px;
                border-radius: 60px;
                font-size: 14px;
                transform: skewx(1deg);
            }

            p:hover {
                background-color: #f8254b;
                cursor: pointer;
            }
        }
    }

    //end:.meet_box
}

//end:.inner




/*---------------------------------------------------footer----------------------------------------------------------------------------------*/

footer {
    width: 100%;
    height: 350px;

    .bg {
        height: 100%;
        background: #FFF5F9;      
    }


    ul {
        font-size: 13px;
        font-weight: 500;
        transform: skewx(1deg);
        gap: 0 20px;
        list-style: none;
    }

    p {
        font-size: 10px;
        font-weight: 500;
        transform: skewx(1deg);
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
}






footer .ft1 {
    display: flex;
    justify-content: center;
    padding: 42px 0 0 0;

}

footer .ft_middle {
    display: flex;
    justify-content: center;
    padding: 56px 0 0 0;
    border-bottom: 1px solid #E2C2EF;
    padding: 40px 0 20px 0;
}

footer .ft2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
    text-align: left;

}
/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Device-width:0~768px(mobile)*/
@media (max-width:412px){
    header{
        position: relative; width: 100%; height: 120px;
        .header_top{
            padding-bottom: 20px;
            display: flex;
        }
        .logo{
            transform: translateX(-50%);
            left: 50%;
            padding: 15px 0;
            position: absolute;
            display: flex;
            justify-content: center;
            width: auto;
        }
        .logo img{
            width: 70%;
            height: auto;
        }
        .header_menu{
            display: flex;
            width: 100%;
            flex-direction: column;
            display: none;
            
            gap: 0;
            .burger{
                align-self: flex-end;
                
            }
        }
        .header_menu a{
            margin:0;
            left: 50px;
        }
    }//e:header
    .main_bg{
         height: 150px;
         margin-top: 100px;
        .bg-video{
            width: 100%; height: 300px;
        }
        h1{
            font-weight: 500;
            font-size: 25px;
            color: #fff;
            top: 150px;
        }
        h3{
            display: none;
        }
    }//e:.main_bg
    .inner{
        position: relative;
        h2{
            margin: 0 auto;
            position: absolute;
            align-items: center;
        }
    }
}//e:media