@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Ria", sans-serif;
}

@font-face {
  font-family: "Ria";
  src: url("./fonts/RiaSans-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ria";
  src: url("./fonts/RiaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Ria";
  src: url("./fonts/RiaSans-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
header {
  width: 100%;
  height: 162px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .header_bg {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(90deg, #DF7779, #914BE2);
  opacity: 0.7;
}
header .header_top {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 1400px;
  height: 100px;
}
header .header_menu {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}
header .header_menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  color: #3E3A39;
  margin: 50px 0;
  gap: 8px;
  transform: skewx(1deg);
}
header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
}
header p {
  width: 100%;
  color: #fff;
  font-size: 19px;
  text-align: center;
  line-height: 60px;
  transform: skewx(1deg);
}
header .burger {
  width: 40px;
  height: 4px;
  background: #737171;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  bottom: 0;
}
header .burger::before,
header .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #737171;
}
header .burger::before {
  top: -10px;
  border-radius: 10px;
}
header .burger::after {
  bottom: -10px;
  border-radius: 10px;
}

/*-----------------------------header------------------------------------------------------------------------------------------------------------*/
main {
  width: 100%;
}

.main_bg {
  width: 100%;
  height: 650px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
}
.main_bg .bg-video {
  width: 100%;
  position: absolute;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_bg h1 {
  font-weight: 500;
  font-size: 55px;
  color: #fff;
  text-align: center;
  padding-bottom: 150px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4509803922);
  top: 200px;
}
.main_bg h3 {
  font-weight: 500;
  font-size: 23px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -80px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4509803922);
  top: 110px;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  /*-------------------------------------------mate-------------------------------------------------------------*/
  /*--------------------------------standard------------------------------------------------------------------------------------------------------------*/
}
.inner h2 {
  background: url(./image/underlinered.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .why {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 50px;
  margin-top: 100px;
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.inner .why::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(circle, rgba(255, 192, 203, 0.15) 0%, rgba(255, 255, 255, 0) 50%);
  pointer-events: none;
}
.inner .why_box {
  position: relative;
  z-index: 1;
}
.inner .why_top h2 {
  font-weight: 500;
  background: url(./image/underlinebig.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .why_box {
  width: 460px;
  border-radius: 30px;
  box-sizing: border-box;
}
.inner .why_box h3 {
  font-weight: bold;
  font-size: 22px;
  color: #413A3B;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-top: 19px;
  transform: skewx(1deg);
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.inner .why_box p {
  font-weight: 500;
  font-size: 15px;
  color: #413C3C;
  margin-left: 83px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 10px;
  padding-left: 45px;
  transform: skewx(1deg);
}
.inner .why_box:nth-child(2) {
  margin-top: 50px;
}
.inner .why_box:nth-child(4) {
  margin-top: 50px;
}
.inner .text {
  width: 100%;
  text-align: left;
  margin-bottom: 110px;
}
.inner .text p {
  font-size: 30px;
  margin-bottom: 10px;
}
.inner .text h2 {
  font-size: 26px;
  margin-left: 100px;
  font-weight: 500;
}
.inner .text h2 span {
  color: #5AB0B9;
}
.inner .highlight {
  display: inline-block;
}
.inner .mate {
  margin-bottom: 150px;
}
.inner .mate_box {
  display: flex;
  flex-direction: column;
}
.inner .mate_box p {
  font-size: 26px;
}
.inner .mate_top,
.inner .mate_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.inner .mate_top {
  justify-content: center;
  gap: 135px;
  position: relative;
  z-index: 0;
  background: radial-gradient(circle, rgba(255, 192, 203, 0.15) 0%, rgba(255, 255, 255, 0) 50%);
}
.inner .mate_top span {
  color: #FD5757;
  font-weight: bold;
}
.inner .mate_top img {
  transition: all 0.3s;
}
.inner .mate_top .image {
  overflow: hidden;
  transition: all 0.3s;
}
.inner .mate_top img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.inner .mate_bottom {
  flex-direction: row-reverse;
  justify-content: center;
  gap: 105px;
  position: relative;
  z-index: 0;
  background: radial-gradient(circle, rgba(71, 69, 179, 0.15) 0%, rgba(255, 255, 255, 0) 50%);
}
.inner .mate_bottom span {
  color: #6779D4;
  font-weight: bold;
}
.inner .mate_bottom img {
  transition: all 0.3s;
}
.inner .mate_bottom .image {
  overflow: hidden;
  transition: all 0.3s;
}
.inner .mate_bottom img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.inner .standard {
  width: 100%;
  margin-bottom: 150px;
}
.inner .standard .text {
  font-size: 26px;
}
.inner .standard .text span {
  color: #000;
  background: url(./image/underlineyellow.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .standard .standard_card img:nth-child(2) {
  margin-top: 50px;
  margin-left: 100px;
}
.inner .standard .standard_card img:nth-child(3) {
  margin-top: 50px;
  margin-left: 200px;
}

.safety_bg {
  width: 100%;
  height: 800px;
  background: #FFF0F0;
}

.inner {
  max-width: 1100px;
  /*----------------------------------------------process-----------------------------------------------------------------------------------*/
  /*--------------------------------------------------------meet------------------------------------------------------------------------------------*/
}
.inner .safety .text {
  margin-bottom: 50px;
  padding-top: 20px;
}
.inner .safety .text span {
  background: url(./image/underlineblue.png) no-repeat left bottom;
  padding-bottom: 5px;
  color: #000;
}
.inner .safety_text {
  display: flex;
  margin-bottom: 60px;
  padding-top: 40px;
  align-items: center;
  font-size: 25px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inner .safety_text span {
  color: #486EA7;
}
.inner .safety_text p {
  margin: 0;
  /* p태그 특유의 여백 제거 */
  display: flex;
  /* p 내부의 로고와 글자도 정렬 */
  align-items: center;
}
.inner .safety_text p img {
  vertical-align: middle;
  /* 텍스트랑 로고 높이 맞추기 */
  margin-right: 5px;
  /* 로고와 글자 사이 미세 간격 */
}
.inner .safety_image {
  display: flex;
}
.inner .process {
  margin-top: 150px;
  height: 1400px;
}
.inner .process .text span {
  color: #000;
  background: url(./image/underlinepink.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner h3 {
  font-size: 27px;
  font-weight: 500;
}
.inner .process_step1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.inner .process_step1 .step_text1 {
  flex: 1;
  text-align: left;
  position: relative;
}
.inner .process_step1 .step_text1 h3 {
  margin-left: 50px;
}
.inner .process_step1 .step_text1 p {
  font-size: 19px;
  margin-left: 165px;
  transform: translateY(-45px);
  transform: skewx(1deg);
}
.inner .process_step1 .step_text1 p span {
  color: #ED7575;
  background: none;
}
.inner .process_step1 .step_text1 svg {
  margin-left: 100px;
  margin-top: 10px;
}
.inner .process_step1 .arrow_head {
  position: absolute !important;
  top: 90px !important;
  /* 일단 확 티나게 10px로 줘봐 */
  left: 35px !important;
  /* 일단 확 티나게 10px로 줘봐 */
  width: 20px !important;
  height: auto !important;
  z-index: 999 !important;
  display: block !important;
  /* 혹시 안 보일까 봐 추가 */
}
.inner .process_step1 span {
  background: url(./image/underlinesky.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .process_step1 .step_img1 {
  flex: 1;
  display: flex;
  gap: 50px;
  justify-content: flex-end;
}
.inner .process_step2 {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.inner .process_step2 .step_text2 {
  text-align: left;
  width: 800px;
  position: relative;
}
.inner .process_step2 .step_text2 h3 {
  margin-left: 50px;
}
.inner .process_step2 .step_text2 img {
  margin-left: 100px;
  margin-top: 10px;
}
.inner .process_step2 .step_text2 p {
  font-size: 19px;
  transform: translateY(-45px);
  margin-left: 170px;
  transform: skewx(1deg);
}
.inner .process_step2 .step_text2 p span {
  color: #A594F1;
  background: none;
}
.inner .process_step2 svg {
  margin-left: 100px;
  margin-top: 10px;
}
.inner .process_step2 .arrow_head {
  position: absolute !important;
  top: 90px !important;
  /* 일단 확 티나게 10px로 줘봐 */
  left: 35px !important;
  /* 일단 확 티나게 10px로 줘봐 */
  width: 20px !important;
  height: auto !important;
  z-index: 999 !important;
  display: block !important;
  /* 혹시 안 보일까 봐 추가 */
}
.inner .process_step2 .step_img2 {
  position: relative;
  top: 100px;
  width: 100%;
}
.inner .process_step2 .step_img2 img {
  position: absolute;
  /* 모든 이미지를 공중에 띄움 */
  top: 0;
  left: 0;
}
.inner .process_step2 .heart_svg {
  position: absolute;
  top: 140px; /* 👈 카드 사이 적절한 높이로 조절 */
  left: -150px; /* 👈 카드 사이 가로 위치 조절 */
  width: 200px; /* 피그마에서 본 사이즈대로 */
  z-index: 5;
}
.inner .process_step2 .heart2_svg {
  position: absolute;
  top: 270px; /* 👈 카드 사이 적절한 높이로 조절 */
  left: 110px; /* 👈 카드 사이 가로 위치 조절 */
  width: 200px; /* 피그마에서 본 사이즈대로 */
  z-index: 5;
}
.inner .process_step2 .step_img2 img:nth-child(1) {
  position: absolute;
  top: 150px;
  left: -230px;
}
.inner .process_step2 .step_img2 img:nth-child(2) {
  position: absolute;
  top: 140px;
  left: -45px;
}
.inner .process_step2 .step_img2 img:nth-child(3) {
  position: absolute;
  top: 5px;
  left: 160px;
}
.inner .process_step2 .step_img2 img:nth-child(4) {
  position: absolute;
  top: 285px;
  left: 225px;
}
.inner .process_step2 .step_img2 img:nth-child(5) {
  position: absolute;
  top: 75px;
  left: 405px;
}
.inner .process_step2 span {
  background: url(./image/underlinepurple.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .meet {
  margin-bottom: 150px;
}
.inner .meet .text span {
  color: #000;
  background: url(./image/underlinemeet.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .meet .text {
  margin-bottom: 50px;
}
.inner .meet_box {
  width: 100%;
  max-width: 1100px;
  height: 600px;
  margin: 0 auto;
  background: url(./image/meetbox.png);
  background-size: contain;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.inner .meet_box h2 {
  background: none;
  font-weight: 500;
  font-size: 20px;
  transform: skewx(1deg);
}
.inner .meet_box span {
  background: url(./image/underlinelife.png) no-repeat left bottom;
  padding-bottom: 5px;
}
.inner .meet_box .box_left {
  display: flex;
  flex: 1;
  justify-content: center;
}
.inner .meet_box .box_right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.inner .meet_box .box_right .match_card {
  display: flex;
  gap: 80px;
}
.inner .meet_box .box_right p {
  color: #fff;
  background: #FF4D6D;
  padding: 20px 30px;
  border-radius: 60px;
  font-size: 14px;
  transform: skewx(1deg);
}
.inner .meet_box .box_right p:hover {
  background-color: #f8254b;
  cursor: pointer;
}

/*---------------------------------------------------footer----------------------------------------------------------------------------------*/
footer {
  width: 100%;
  height: 350px;
}
footer .bg {
  height: 100%;
  background: #FFF5F9;
}
footer ul {
  font-size: 13px;
  font-weight: 500;
  transform: skewx(1deg);
  gap: 0 20px;
  list-style: none;
}
footer p {
  font-size: 10px;
  font-weight: 500;
  transform: skewx(1deg);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

footer .ft1 {
  display: flex;
  justify-content: center;
  padding: 42px 0 0 0;
}

footer .ft_middle {
  display: flex;
  justify-content: center;
  padding: 56px 0 0 0;
  border-bottom: 1px solid #E2C2EF;
  padding: 40px 0 20px 0;
}

footer .ft2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
  text-align: left;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*Device-width:0~768px(mobile)*/
@media (max-width: 412px) {
  header {
    position: relative;
    width: 100%;
    height: 120px;
  }
  header .header_top {
    padding-bottom: 20px;
    display: flex;
  }
  header .logo {
    transform: translateX(-50%);
    left: 50%;
    padding: 15px 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: auto;
  }
  header .logo img {
    width: 70%;
    height: auto;
  }
  header .header_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    display: none;
    gap: 0;
  }
  header .header_menu .burger {
    align-self: flex-end;
  }
  header .header_menu a {
    margin: 0;
    left: 50px;
  }
  .main_bg {
    height: 150px;
    margin-top: 100px;
  }
  .main_bg .bg-video {
    width: 100%;
    height: 300px;
  }
  .main_bg h1 {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    top: 150px;
  }
  .main_bg h3 {
    display: none;
  }
  .inner {
    position: relative;
  }
  .inner h2 {
    margin: 0 auto;
    position: absolute;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */